{% extends "dcp_sandbox/base.html" %}
{% load staticfiles %}

{% block title %}Functions{% endblock %}

{% block page_content %}

<div class="span10">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>Function</td>
        <td>Meaning</td>
        <td>Domain</td>
        <td>Sign</td>
        <td>Curvature</td>
        <td>Monotonicity</td>
      </tr>
    </thead>
    <tbody>
      {% for function in functions %}
        <tr>
          <td>{{ function.usage }}</td>
          <td>{{ function.meaning }}</td>
          <td>{{ function.domain }}</td>
          <td>
            {% if function.sign|lower in sign_list %}
              <img src={% static 'dcp_sandbox/images/'|add:function.sign|lower|add:'.svg' %} width="15">
              &nbsp;{{ function.sign|lower }}
            {% else %}
              {{ function.sign }}
            {% endif %}
          </td>
          <td>
            {% if function.curvature|lower in curvature_list %}
              <img src={% static 'dcp_sandbox/images/'|add:function.curvature|lower|add:'.svg' %} width="15">
              &nbsp;{{ function.curvature|lower }}
            {% else %}
              {{ function.curvature }}
            {% endif %}
          </td>
          <td>
            {% for text in function.monotonicity %}
              <p>
                {% for word in text.split %}
                  {% if word|lower == "increasing" %}
                    <img src={% static 'dcp_sandbox/images/increasing.svg' %} width="20">
                    &nbsp;incr.
                  {% elif word|lower == "decreasing" %}
                    <img src={% static 'dcp_sandbox/images/decreasing.svg' %} width="20">
                    &nbsp;decr.
                  {% else %}
                    {{ word }}
                  {% endif %}
                {% endfor %}
              </p>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  <table>
</div>

{% endblock %}