{% extends "dcp_sandbox/base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block page_content %}

<div class="span10">
  <h1>Disciplined Convex Programming</h1>

  <p>This website is designed to teach disciplined convex programming (DCP). DCP is a system for constructing mathematical expressions with known curvature from a given library of base functions. DCP is used by the <a href="http://www.stanford.edu/~boyd/cvxbook/">convex optimization</a> modeling languages <a href="http://cvxr.com/cvx/">CVX</a>, <a href="https://www.cvxpy.org/">CVXPY</a>, <a href="https://github.com/JuliaOpt/Convex.jl">Convex.jl</a>, and <a href="https://cvxr.rbind.io/">CVXR</a>  to ensure that the specified optimization problems are convex.</p>

  <p>After reading about the <a href="/rules">DCP rules</a>, visit the <a href="/quiz">DCP Quiz</a> to test your understanding, or type expressions into the <a href="/analyzer">DCP Analyzer</a>.</p>

  <h2>Related Links</h2>

  <p>The following links offer more information on convex optimization and DCP:</p>

  <ul>
  <li><p><a href="http://www.stanford.edu/~boyd/cvxbook/">Convex Optimization</a>, a book by Stephen Boyd and Lieven Vandenberghe.</p></li>
  <li><p><a href="http://www.stanford.edu/class/ee364a/">EE364a</a>, a Stanford course on convex optimization.</p></li>
  <li><p><a href="https://www.cvxpy.org/tutorial/index.html">CVXPY Tutorial</a>, a complete guide to CVXPY and its features.</p></li>
  <li><p><a href="http://www.stanford.edu/~boyd/papers/disc_cvx_prog.html">Disciplined Convex Programming</a>, a paper by Michael Grant.</p></li>
  </ul>

</div>

{% endblock %}
