<head>
  <title>DCP Sandbox</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  {% load staticfiles %}
  <!-- Bootstrap and jQuery + plugins -->
  <link href="{% static "dcp_sandbox/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  <script src="{% static "dcp_sandbox/jquery-1.9.1.min.js" %}"></script>
  <script src="{% static "dcp_sandbox/jquery.cookie.js" %}"></script>
  <script src="{% static "dcp_sandbox/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- D3.js -->
  <script type="text/javascript" src="{% static "dcp_sandbox/d3.v3/d3.v3.min.js" %}"></script>

  <!-- sandbox specific -->
  <link href="{% static "dcp_sandbox/css/sandbox.css" %}" rel="stylesheet">
  <script src="{% static "dcp_sandbox/js/TreeConstants.js" %}"></script>
  <script src="{% static "dcp_sandbox/js/TreeConstructor.js" %}"></script>
  <script src="{% static "dcp_sandbox/js/TreeLayout.js" %}"></script>
  <script src="{% static "dcp_sandbox/js/TreeDisplay.js" %}"></script>
  <script src="{% static "dcp_sandbox/js/sandbox.js" %}"></script>
</head>
<body>
  <div class="navbar navbar-inverse" >
    <div class="navbar-inner">
      <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Variables
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">x,y,z unknown sign</a></li>
              <li><a href="#">u,v,w positive</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Parameters
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">a,b,c unknown sign</a></li>
              <li><a href="#">d,e,f positive</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Functions
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#abs(x)">abs(x)</a></li>
              <li><a href="#berhu(x,3)">berhu(x, 3)</a></li>
              <li><a href="#entr(x)">entr(x)</a></li>
              <li><a href="#exp(x)">exp(x)</a></li>
              <li><a href="#geo_mean(x,y)">geo_mean(x, y)</a></li>
              <li><a href="#huber(x,1)">huber(x, 1)</a></li>
              <li><a href="#huber_circ(x,y,0.5)">huber_circ(x, y, 0.5)</a></li>
              <li><a href="#huber_pos(x,3)">huber_pos(x, 3)</a></li>
              <li><a href="#inv_pos(x)">inv_pos(x)</a></li>
              <li><a href="#kl_div(x,y)">kl_div(x, y)</a></li>
              <li><a href="#log(x)">log(x)</a></li>
              <li><a href="#log_norm_cdf(x)">log_norm_cdf(x)</a></li>
              <li><a href="#log_sum_exp(x,y)">log_sum_exp(x, y)</a></li>
              <li><a href="#max(x,y)">max(x, y)</a></li>
              <li><a href="#min(x,y)">min(x, y)</a></li>
              <li><a href="#norm(x,y,1)">norm(x, y, 1)</a></li>
              <li><a href="#norm_largest(x,y,z,2)">norm_largest(x, y, z, 2)</a></li>
              <li><a href="#pos(x)">pos(x)</a></li>
              <li><a href="#pow_abs(x,0.1)">pow_abs(x, 0.1)</a></li>
              <li><a href="#pow_p(x,3)">pow_p(x, 3)</a></li>
              <li><a href="#pow_pos(x,-2)">pow_pos(x, -2)</a></li>
              <li><a href="#quad_over_lin(x,y,z)">quad_over_lin(x, y, z)</a></li>
              <li><a href="#sqrt(x)">sqrt(x)</a></li>
              <li><a href="#square(x)">square(x)</a></li>
              <li><a href="#square_abs(x)">square_abs(x)</a></li>
              <li><a href="#square_pos(x)">square_pos(x)</a></li>
              <li><a href="#sum(x,y)">sum(x, y)</a></li>
              <li><a href="#sum_largest(x,y,z,2)">sum_largest(x, y, z, 2)</a></li>
              <li><a href="#sum_smallest(x,y,z,2)">sum_smallest(x, y, z, 2)</a></li>
              <li><a href="#sum_square(x,y)">sum_square(x, y)</a></li>
              <li><a href="#sum_square_abs(x,y)">sum_square_abs(x, y)</a></li>
              <li><a href="#sum_square_pos(x,y)">sum_square_pos(x, y)</a></li>
            </ul>
        </li>
        <li><button type="button" id="help" class="btn btn-primary" data-toggle="button">Hide Help</button></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        {% csrf_token %}
        <!--Body content-->
        <div id="chart"></div>
      </div>
    </div>
  </div>
</body>