{% extends "dcp_sandbox/tree_page.html" %}
{% load staticfiles %}

{% block title %}DCP Quiz{% endblock %}

{% block tree_page_js %}
<script src="{% static "dcp_sandbox/js/quiz.js" %}"></script>
{% endblock %}

{% block pre_toggle_legends %}
<li class="divider-vertical left-of-dropdown"></li>
<li class="dropdown">
    <a id="difficulty" href="#" class="dropdown-toggle" data-toggle="dropdown">
      Difficulty
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#Easy">Easy</a></li>
      <li><a href="#Medium">Medium</a></li>
      <li><a href="#Hard">Hard</a></li>
    </ul>
</li>
{% endblock %}

{% block below_tree %}
<!-- Answer buttons -->
<div class="row-fluid">
  <div class="span12 text-center">
    <div class="answers">
      Choose One: &nbsp
      <div class="btn-group">
        <button id="affine" type="button" class="btn btn-primary answer">Affine</button>
        <button id="convex" type="button" class="btn btn-primary answer">Convex</button>
        <button id="concave" type="button" class="btn btn-primary answer">Concave</button>
        <button id="non-convex" type="button" class="btn btn-primary answer">Non-DCP</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block instructions %}
Choose the button that matches the expression's curvature. The quiz difficulty will adjust to match your skill.
{% endblock %}