{% extends "dcp_sandbox/tree_page.html" %}
{% load staticfiles %}

{% block title %}DCP Quiz{% endblock %}

{% block page_js %}
<script src="{% static "dcp_sandbox/js/quiz.js" %}"></script>
{% endblock %}

{% block post_feedback_nav %}
<li class="divider-vertical"></li> 
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Difficulty
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#easy">Easy</a></li>
      <li><a href="#intermediate">Intermediate</a></li>
      <li><a href="#advanced">Advanced</a></li>
    </ul>
</li>
<!-- Buttons to specify random expression attributes -->
<li class="divider-vertical answers"></li> 
<li>
  <div class="btn-group answers">
    <button id="affine" type="button" class="btn btn-primary answer">Affine</button>
    <button id="convex" type="button" class="btn btn-primary answer">Convex</button>
    <button id="concave" type="button" class="btn btn-primary answer">Concave</button>
    <button id="non-convex" type="button" class="btn btn-primary answer">Non-DCP</button>
  </div>
</li>
<!-- Button to generate random expression -->
<li class="divider-vertical new-expression"></li>
<li>
  <button type="button" id="newExpression" class="btn btn-primary new-expression">New Expression</button>
</li>
{% endblock %}