{% extends "dcp_sandbox/base.html" %}
{% load staticfiles %}

{% block title %}Rules{% endblock %}

{% block page_content %}

<nav>
  <ul class="nav nav-pills nav-stacked span1">
    <li><a href="/intro">Home</a></li>
    <li class="active"><a href="/rules">Rules</a></li>
    <li><a href="/analyzer">Analyzer</a></li>
    <li><a href="/quiz">Quiz</a></li>
    <li><a href="/credits">About</a></li>
  </ul>
</nav>

<div class="span10">
  <h2>Curvature and Sign</h2>

  <p>In DCP, a mathematical expression is defined by its <em>curvature</em> and <em>sign</em>. 
  The curvature can be <em>constant</em>, <em>affine</em>, <em>convex</em>, <em>concave</em>, or <em>unknown</em>. 
  For a function $\text{ }f: \mathbb{R^{n}} \to \mathbb{R}$ with domain $\mathbb{R^{n}}$, the curvature
  types have the following definitions:
  $$ \begin{array}{lcr}
  \text{Constant:} & f(\alpha x + (1-\alpha)y) = f(x) & \forall x,y \in \mathbb{R^{n}}, \alpha \in [0,1] \\\\
  \text{Affine:} & f(\alpha x + (1-\alpha)y) = \alpha f(x) + (1-\alpha)f(y) & \forall x,y \in \mathbb{R^{n}}, \alpha \in [0,1] \\\\
  \text{Convex:} & f(\alpha x + (1-\alpha)y) \leq \alpha f(x) + (1-\alpha)f(y) & \forall x,y \in \mathbb{R^{n}}, \alpha \in [0,1] \\\\
  \text{Concave:} & f(\alpha x + (1-\alpha)y) \geq \alpha f(x) + (1-\alpha)f(y) & \forall x,y \in \mathbb{R^{n}}, \alpha \in [0,1] \\\\
  \end{array} $$
  The curvature of expressions that follow the DCP rules can always be determined. 
  If an expression violates the DCP rules, its curvature is marked as unknown.
  See <a href="http://www.stanford.edu/~boyd/cvxbook/">Convex Optimization</a>, Section 3, for a fuller discussion of function curvature.</p>

  <p>The sign of an expression can be <em>positive</em> (i.e., non-negative), <em>negative</em> (i.e., non-positive), or <em>unknown</em>. An expression has unknown sign if it can be positive or negative depending on the value of the expression's variables and parameters.</p>

  <h2>Expressions</h2>

  <p>Expressions are formed from variables, which have names <code>x, y, z, u, v, w</code>, parameters, which have names <code>a, b, c, d, e, f</code>, numerical constants such as <code>3</code> or <code>-2.44</code>, standard arithmetic operators such as <code>+, -, *, /</code>, and a library of functions such as <code>max, square, sqrt</code>, and others. For simplicity, all expressions in the DCP analyzer are scalar. Some examples are</p>

  <pre><code>expr1 = 3.69 + b/3
expr2 = x-4*u
expr3 = sqrt(x) - min(u, v-a)
max(2.66-sqrt(u), square(x+2*y))
square(x) + sqrt(square(u)+1)
max(x, 1) - exp(u)</code></pre>

  <p>The first expression is constant and the second expression is an affine function of the variables. The third is a concave function of the variables, and the fourth and fifth expressions are convex functions of the variables. The sixth expression is neither convex nor concave.</p>

  <h3>Analyzing Expressions</h3>

  <p>Consider the expression <code>2*square(x) + 3</code>. The tree visualization below shows how the full expression is constructed from smaller sub-expressions.</p>

  <p><img src="/static/dcp_sandbox/images/arith_expr.png" alt="2*square(x) + 3" title="" /></p>

  <p>Each node in the tree is marked with a curvature and sign. The leaf nodes of an expression tree are variables, parameters, and constants. These have the following properties:</p>

  <ul>
  <li>Variables have affine curvature and unknown sign.</li>
  <li>Parameters have constant curvature with (possibly) known sign and unknown value.</li>
  <li>Constants have constant curvature and known value. The sign of a constant is determined by its value.</li>
  </ul>

  <p>The curvature and sign of each parent node is determined from the curvatures and signs of its children using the <a href="#rules">DCP rules</a>.</p>

  <p><a name="rules"></a></p>

  <h2>The DCP Rules</h2>

  <h3>Arithmetic Rules</h3>

  <ul>
  <li>You cannot multiply two non-constants. For example, <code>x * x</code> violates DCP.</li>
  <li>You cannot divide by a non-constant. For example, <code>1 / x</code> violates DCP.</li>
  </ul>

  <h3>Curvature Rules</h3>

  <p>Let $\text{ }f: \mathbb{R^{n}} \to \mathbb{R}$ be a function applied to the expressions $ expr_1, expr_2, ..., expr_n $. 
  Then $\text{ } f(expr_1, expr_2, ..., expr_n)$ is convex if $\text{ } f$ is a convex function and for each $expr_{i}$ one of the following conditions holds:</p>

  <ul>
  <li>$f$ is non-decreasing in argument i and $expr_{i}$ is convex.</li>
  <li>$f$ is non-increasing in argument i and $expr_{i}$ is concave.</li>
  <li>$expr_{i}$ is affine.</li>
  </ul>

  <p>$f(expr_1, expr_2, ..., expr_n)$ is concave if $\text{ } f$ is a concave function and for each $expr_{i}$ one of the following conditions holds:</p>

  <ul>
  <li>$f$ is non-decreasing in argument i and $expr_{i}$ is concave.</li>
  <li>$f$ is non-increasing in argument i and $expr_{i}$ is convex.</li>
  <li>$expr_{i}$ is affine.</li>
  </ul>

  <p>If one of the $\text{ } expr_{i}$ does not satisfy any of the conditions, the curvature of $\text{ } f(expr_1, expr_2, ..., expr_n)$ is unknown. </p>
  <p>If all the $\text{ } expr_{i}$ are constant, then $\text{ } f(expr_1, expr_2, ..., expr_n)$ is constant.</p>

  <p>Arithmetic operators are affine functions, so both the rule for convex functions and the rule for concave functions apply.</p>

  <h3>Sign Rules</h3>

  <p>For some functions monotonicity (i.e., whether the function is increasing or decreasing in each argument) depends on the sign of the arguments. For example, <code>square(expr)</code> is increasing if <code>expr</code> is positive and decreasing if <code>expr</code> is negative. For this reason DCP tracks the signs of expressions as well as the curvatures.</p>

  <p>Each function (and arithmetic operator) has a different rule for determining the sign of the function from the signs of its arguments. These rules are exhaustive, meaning they capture every case where the sign of the function can be determined. As an example, here is the rule for <code>+</code> applied to the expressions <code>expr1</code> and <code>expr2</code>:</p>

  <p>The sign of the expression <code>expr1 + expr2</code> is</p>

  <ul>
  <li>Positive if <code>expr1</code> and <code>expr2</code> are both positive.</li>
  <li>Negative if <code>expr1</code> and <code>expr2</code> are both negative.</li>
  <li>Unknown in all other cases.</li>
  </ul>

  <p>The sign rule for each function is part of its entry under the Functions tab.</p>

  <h3>Example</h3>

  <p>We'll walk through the application of the DCP rules to the expression <code>sqrt(1 + square(x))</code>.</p>

  <p>The variable <code>x</code> has affine curvature. The <code>square</code> function is convex and non-monotone, so it can take
  the affine expression <code>x</code> as an argument; the result <code>square(x)</code> is convex.</p>

  <p>The convex expression <code>square(x)</code> plus the constant <code>1</code> is also also convex. The
  atom <code>sqrt</code> is concave and increasing, which means it can only take a concave
  argument. Since <code>1 + square(x)</code> is convex, <code>sqrt(1 + square(x))</code> violates the DCP rules 
  and cannot be verified as convex.</p>

  <p>In fact, <code>sqrt(1 + square(x))</code> is convex. But to comply with the DCP rules
  we must rewrite the expression as <code>norm(1, x, 2)</code>, the L2 norm of the vector [1, x].</p>


</div>

{% endblock %}