{% extends "dcp_sandbox/base.html" %}
{% load staticfiles %}

{% block title %}Tree Page{% endblock %}

<!-- page specific -->
{% block page_js %}
<script src="{% static "dcp_sandbox/js/TreeConstants.js" %}"></script>
<script src="{% static "dcp_sandbox/js/TreeConstructor.js" %}"></script>
<script src="{% static "dcp_sandbox/js/TreeLayout.js" %}"></script>
<script src="{% static "dcp_sandbox/js/TreeDisplay.js" %}"></script>
<script src="{% static "dcp_sandbox/js/treeInteraction.js" %}"></script>
{% block tree_page_js %}{% endblock %}
{% endblock %}
  
{% block post_functions_nav %}
<li class="divider-vertical"></li>
<li>
  <button type="button" id="help" class="btn btn-primary">Hide Legends</button>
</li>
<li class="divider-vertical"></li>
<li>
  <div><a href="#instructions" role="button" class="btn btn-primary" data-toggle="modal">Help</a></div>
</li>
{% endblock %}

{% block page_content %}
<div class="span11">
  <div id = "errorPlaceholder"></div>
  {% csrf_token %}
  <!--Body content-->
  <div id="chart"></div>
  {% block below_tree %}{% endblock %}
</div>
{% endblock %}

{% block modals %}
<!-- Instructions Modal -->
<div id="instructions" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Instructions</h4>
      </div>
      <div class="modal-body">
        <p>{% block instructions %}{% endblock %}</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}