.node rect {
  fill: #c6dbef;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

#scratchpad {
  width: 100%;
  height: 75%;
}

.info {
  text-align: center;
}

.dropdown-menu > li > p {
             text-align:center;
}