.node rect {
    fill: #c6dbef;
    fill-opacity: .5;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.node text, #inputBox {
    font: 14px sans-serif;
}

.node text {
    dominant-baseline: central;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}

line.arrow {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}

svg {
    display: block;
    margin: auto;
}

.info {
    text-align: center;
}

li > button {
    margin: 0 10 0 10;
}

.navbar-inner {
    border-radius: 0;
}

.navbar .dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.navbar .dropdown-menu:before {
    content:normal;
}

#treeContainer {
    padding-top: 62px;
}

#inputBox {
    background-color: transparent;
    color: black;
    outline: none;
    text-align: center;
    padding: 0;
}

textarea.feedback {
    width: 500;
}

.function-title {
    text-align: center;
}